.navbar {
    background-color: #f4f4f4;
    padding: 20px;
}

.navbar__title {
    font-size: 24px;
}

.navbar__list {
    display: flex;
    gap: 20px;
    list-style: none;
}

.navbar__message {
    color: blue;
    font-size: 20px;
}