.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 30px;
    background-color: #f4f4f4;
}

/* Logo */
.navbar__logo {
    font-size: 20px;
    font-weight: bold;
}

/* Menú centrado */
.navbar__menu {
    display: flex;
    gap: 20px;
}

/* Links */
.navbar__item {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

/* Carrito */
.navbar__cart {
    display: flex;
    align-items: center;
}